/* Geral */

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", Arial, sans-serif;
  background-color: #27374D;
}



#searchInput {
  margin-top: 10px;
  padding: 5px;
  background-color: transparent;
  caret-color: #2e7d6f;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #9DB2BF;
}

#searchButton {
  padding: 5px 10px;
  font-family: "Barlow", Arial, sans-serif;
  color: #fff;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #f3f3f3;
}



.content {
  margin-left: 200px;
}

header {
  background-color: #1e2936;
  width: calc(100% - 60px);
  padding: 30px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
  color: #fff;
}

/* Sidebar */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #172331;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 200px;
  background-color: #172331;
  text-align: center;
}

.name {
  margin: 0;
  color: #fff;
}

.name:first-letter
{
  font-size: 2rem;
  color: #29ABE2;
}

/* Adicionar favoritos */

.addFavoriteContainer {
  margin-bottom: 10px;
}

.addFavoriteContainer button {
  padding: 5px 10px;
  width: 100%;
  font-family: "Barlow", Arial, sans-serif;
  color: #fff;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #9DB2BF;
}

/* Card Favoritos */

.favoriteCard {
  background-color: transparent;
  border: 1px solid #9DB2BF;
  border-radius: 6px;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.favoriteCard h2 {
  margin: 0;
  margin-left: 10px;
  margin-bottom: 20px;
}

.favoriteCard Button {
  justify-content: flex-end;
  margin-top: 5px;
  color: #fff;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #9DB2BF;
  margin-left: 5px;
  padding: 3px 6px;
  font-family: "Barlow", Arial, sans-serif;
}

.favoriteCard Button:hover {
  background-color: #27374D;
}

#searchButton:hover,
.addFavoriteContainer button:hover,
.favoriteCard:hover
{
  background-color: #32495a;
}

button,
.favoriteCard {
  cursor: pointer;
}


/* Loading */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Card Noticias */

#newsContainer {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(32% - 10px);
  background-color: #415a77;
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 40px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover{
 
  background-color: #517196;
  cursor: pointer;
}

.card.fade-in {
  opacity: 1;
}

.card h2 {
  margin: 0;
}

.card p {
  margin-top: 5px;
  font-size: 14px;
  color: #e4e4e4;
}

.card img {
  max-width: 100%;
  height: auto;
  width: 100%;
  margin-bottom: 10px;
}
